
.mainBanner {
    background-color: white; 
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 100vh;
  }
  

  .bannerOne {
    margin-left: 30%;
    margin-top: 10%;
  }

  .secImg {
    margin-left: -40%;
    margin-top: 10%;
  }

  .bannerOne p{
    margin-left: -40%;
    margin-top: 6%;
    color:#313957;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
.bannerOne h1{
    color:#313957;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.inputContainer {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: -40%;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: left;
  }
  

  .inputLabel {
    margin-bottom: 0.5rem;
    font-size: 1rem; 
    color: #333; 
  }

  .emailInput, .passwordInput {
    width: 70%; 
    padding: 0.7rem; 
    border: 1px solid #00000066;
    border-radius: 100px;
    font-size: 1rem;
  }
  
 .forgotPassword h1{
    color: #FC8A06;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: right;
    margin-right:35%;
    margin-top:7%;
 }
  
.bannerOne button{
    width: 103%; 
    padding: 12px 0px 12px 0px;
    gap: 0px;
    border-radius: 100px;
    background-color:#FC8A06;
    border: none;
    margin-left: -40%;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: center;
    color:white;
    margin-top: 5%;
}

.signup {
  text-align: left;
  margin-left: -17%;
  margin-top: 20px;
}

.signup h1 {
  display: flex;
  align-items: center; 
  flex-wrap: wrap;
  gap: 0.5rem; 
}

.signup a {
  color: #FC8A06;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.signup a:hover {
  text-decoration: underline;
}

.signup a:focus {
  outline: none;
  text-decoration: underline;
}


  .bannerTwo img {
    max-width: 80%;
    margin-left: 5%;
    display: block; 
    max-height: 200%;
    padding: 20px;
    height: auto;
    border-radius: 8px;
  }

  @media (min-width: 481px) and (max-width: 600px) {
  .bannerTwo {
    display: none; 
  }
  .bannerOne {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: start; /* Center content vertically within bannerOne */
    align-items: center; /* Center content horizontally within bannerOne */
    text-align: center; /* Ensure text is centered */
  }
  .emailInput, .passwordInput {
    width: 20em; 
    padding: 0.7rem; 
    border: 1px solid #00000066;
    border-radius: 100px;
    font-size: 1rem;
    margin-left: 15%;
  }
  .inputLabel{
    margin-left:15%;
  }
}


